@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Oxygen:wght@400;700&family=Rubik+Broken+Fax&display=swap');
html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body, header {
    margin: 0;
    font-family:'Oxygen Mono', sans-serif;
    background: url(polygon-scatter-haikei-1.png);
	animation: gradient 60s ease-in-out infinite;
    color: rgb(150, 206, 255);
    backdrop-filter: blur(1.5px);
}


@keyframes gradient {
	0% {
		background-position: 0% 30%;
	}
    20% {
        background-position: 30% 500%;
    }
	50% {
		background-position: 100% 75%;
	}
    75% {
        background-position: 75% 50;
    }
	100% {
		background-position: 50% 100%;
	}
}



* {
    box-sizing: border-box;
}

.purple {
    color: rgb(125, 17, 175);
}

.green {
    color: rgb(43, 153, 43);
}

.rubik {
    font-family: "Rubik Broken Fax";
    font-weight: normal;
    font-size: 60px;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(150, 206, 255);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    text-shadow: 2px 2px 30px white;
}

a.nav-link {
    transition: font-size 0.3s ease-in-out;

}

a.nav-link:hover {
    color: white;
    text-shadow: 2px 2px 50px rgb(0, 0, 0);
    font-size: 21px;
}

header {
    display: flex;
    height: 6vw;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 60px 0;
  }

header + .body-container {
    padding-top: 120px;
}

.left-nav .navbar {
    display: flex;
    width: 100%;
    color: rgb(150, 206, 255);

}

.left-nav .navbar .navbar-brand {
    font-weight: 800;
    font-size: 50px;
    line-height: 1.5em;
    letter-spacing: 2px;
    padding: 0 20px;
}

.left-nav .navbar ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.left-nav .navbar ul li {
    list-style-type: none;
    padding: 0 10px;
    cursor: pointer;
}

.right-nav .navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.right-nav .navbar .find-station {
    display: flex;
    align-items: center;
    margin-right: 40px;
    font-weight: 600;
    cursor: pointer;
}

.right-nav .navbar .find-station i {
    padding-right: 8px;
    font-size: 20px;
}

.right-nav .navbar .find-station i:hover {
    font-size: 25px;
    font-weight: 800;
}


.sign-in, .join-now, .log-out {
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: 600;
    line-height: 1.2;
    font-size: 15px;
    border: none;
}

.sign-in {
    margin-right: 15px;
    cursor: pointer;
    transition: all .2s ease;
}

.sign-in:hover {
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.join-now {
    margin-right: 10px;
    background-color: black;
    color: white;
    transition: all .2s ease;
    cursor: pointer;
}

.join-now:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.7);
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.log-out:hover {
    background-color: oldlace;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.main-container {
    text-align: center;
    text-shadow: 2px 2px 50px white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-container h1 {
    font-family: "Rubik Broken Fax";
    font-size: 60px;
    text-shadow: none;
    font-weight: normal;
}


.image-gallery {
    width: 80%;
    margin: 20px auto;

}

.image-gallery ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.image-gallery .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image-gallery .images li img {
    height: auto;
    width: 100%;
    border: 1px solid black;
    border-radius: 30px;
    transition: transform 0.5s ease;
    box-shadow: 0 0 100px black;
}

.map {
    margin-top: 20px;
    width: 750px;
    height: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.map:hover {
  transform: scale(1.5);
}

