@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Oxygen:wght@400;700&family=Rubik+Broken+Fax&display=swap');

.rubik {
    font-family: "Rubik Broken Fax";
    font-weight: normal;
    font-size: 60px;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.profile {
    background: linear-gradient(45deg, lightpink, lightskyblue, cyan);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    color: black;
    box-shadow: 0 0 10000px lightskyblue;
}


.profile-container .profile-pic img {
    margin-right: 30px;
    opacity: 70%;
    border-radius: 120px;
}

.profile-container .details {
    display: flex;
    flex-direction: column;
}

.ride-details {
    text-align: center;
}

label {
    letter-spacing: 1px;
    line-height: 1.5em;
    font-weight: 800;
    font-size: 25px;
}

.box {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 20px 20px;
    width: 500px;
    height: 700px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: beige;
    color: black;
    opacity: 90%;
    background-repeat: none;
    background-size: cover;
}

.box:hover {
    background-color: beige;
    color: black;
}

/* .register {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register img {
    display: flex;
    flex-grow: 1;
}

.register .box {
    background: linear-gradient(45deg, purple, lightpink, lightskyblue, cyan);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
} */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

input {
    text-transform: uppercase;
    font-weight: 600;
    font-size:15px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: auto;
}

.submit-button {
    padding: 10px 15px;
    text-align: center;
    background-color: black;
    color: beige;
    border-radius: 10px;
    margin: 10px 10px;
}

.login, .register {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.login img,
.register img,
.apology img {
    display: flex;
    width: 50%;
    margin: 0 auto;
    border-radius: 30px;
    border: 3px solid black;
}

.login .box,
.register .box,
.history, .history-container h2,
.wallet, .wallet-container h2,
.apology {
    background: linear-gradient(45deg, lightpink, lightskyblue, cyan);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    box-shadow: 0 0 10000px lightskyblue;
    color: black;
    margin: 0 auto;
}

.register {
    margin-left: 100px;
}

/* .about {
    display: flex;
    justify-content: space-between;
}

.about .team {
    width: 500px;
    height: 900px;
    margin: 10px 20px;
    border: 3px solid black;
    border-radius: 30px;
}

.about .singles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 300px;
    padding: 5px 5px;
}

.about .singles .card {
    display: flex;
    box-shadow: 0 18px 20px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    flex-direction: column;
    height: 40%;
    width: 30%;
    align-items: center;
    justify-content: center;
}


.about .singles .card img {
    border: 3px solid black;
    border-radius: 30px;
}

.about .singles .card img:hover {
    border: 8px solid black;
    border-radius: 5px;
    font-size: 30px;
}

.about .singles .card h3 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 1.5em;
    text-align: center;
}

.about .singles .card p {
    font-weight: 600;
    text-align: center;
}

.about .singles .card .container {
    display: flex;
    flex-direction: column;
}

.about .singles .card .container p {
    font-weight: 600;
    font-size: 20px;
} */

.profile-container .profile {
    display: flex;
    align-items: center;
    line-height: 0.8em;
    margin-bottom: 200px;
    margin-top: 150px;
    border: 3px solid black;
    border-radius: 50px;
    padding: 15px 25px;
}

.profile-container .profile .details{
    font-weight: 800;
    letter-spacing: 2px;
}

.history-container .history,
.wallet-container .wallet {
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 30px;
    border: 3px solid black;
    padding: 20px 20px;
}


.history-container .history thead tr th,
.wallet-container .wallet thead tr th {
    text-transform: uppercase;
    font-weight: 800;
    padding: 10px 20px;
    font-size: 30px;
    border: 3px solid black;
    border-radius: 30px;
}

.history-container h2,
.wallet-container h2 {
    border: 3px solid black;
    border-radius: 30px;
    width: 30%;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 10px 20px;
}

.history-container .history tbody tr td,
.wallet-container .wallet tbody tr td {
    font-weight: 600;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
}

.history-container .history tr,
.wallet-container .wallet tr {
    border: 3px solid black;
}


.ticket-container,
.pass-container,
.apology {
    margin: 50px auto;
    padding: 20px 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, lightpink, lightskyblue, cyan);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    box-shadow: 0 0 100px lightskyblue;
    border: 3px solid black;
    border-radius: 30px;
    color: black;
    text-align: center;
}

.ticket {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ticket-container .ticket label,
.pass-container label{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-left: 20px;
}


.ticket-container .ticket .dst select,
.ticket-container .ticket .src select {
    font-size: 15px;
    padding: 10px 20px;
    margin: 10px 10px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px;
    margin: -5px -20px -5px -5px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ticket-container .ticket .src select::-webkit-scrollbar,
.ticket-container .ticket .dst select::-webkit-scrollbar {
    display: none;
}


.ticket-container .ticket select option{
    font-size: 15px;
    background-color: lightskyblue;
    color: black;
    font-weight: 600;
}

.pass-container {
    width: 50%;
    font-size: 20px;
}
