{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div class="about">
        <div class="full-team">
            <img class="team" src="/static/team.jpeg">
        </div>
        <div class="singles">
            <div class="card">
                <img src="/static/pavan.jpeg" />
                <div class="container">
                    <h3><b>Pavan</b></h3>
                    <p>Designed the UI</p>
                 </div>
            </div>
            <div class="card">
                <img src="/static/amith.jpeg" />
                <div class="container">
                    <h3><b>Amith</b></h3>
                    <p>Worked on the pathfinding algorithm</p>
                 </div>
            </div>
            <div class="card">
                <img src="/static/nuthan.jpeg" />
                <div class="container">
                    <h3><b>Nuthan</b></h3>
                    <p>Designed the UI and also worked on the documentation, presentation.</p>
                 </div>
            </div>
        </div>
    </div>
{% endblock %}