{% extends "layout.html" %}

{% block title %}
    HISTORY
{% endblock %}

{% block main %}
    <h1 class="rubik"> TRAVEL HISTORY </h1>
    <div class="history-container">
        <table class="history">
            <thead>
                <tr>
                    <th scope="col">Source</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for row in travels %}
                    <tr>
                        <td>{{row['source']}}</td>
                        <td>{{row['dest']}}</td>
                        <td>{{row['date']}}</td>
                        <td>{{row['amount']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Cash remaining: {{ cash }}</h3>
    </div>
{% endblock %}