{% extends "layout.html" %}

{% block title %}
    HOME
{% endblock %}

{% block main %}
    <div class="main-container">
        <div class="image-gallery">
            <ul class="images">
                <li><img src="static\home-img1.jpg" /></li>
            </ul>
            <h3>GALLERY</h3>
            <div class="flex-container">
                <img src="static\home-img2.jpeg" />
                <img src="static\home-img3.jpeg" />
                <img src="static\home-img4.jpg" />
                <img src="static\home-img5.jpg" />
            </div>
        </div>
    </div>
{% endblock %}