{% extends "layout.html" %}

{% block title %}
    HOME
{% endblock %}

{% block main %}
    <div class="main-container">
        <h1> Welcome HOME!! </h1>
        <h2> We are happy to have you here @ Nammellara Metro </h2>
        <p> Look at some glimpses of our family</p>
    </div>
    <div class="image-gallery">
        <ul class="images">
            <li><img src="static\home-img1.jpg"></li>
            <li><img src="static\home-img2.jpeg"></li>
            <li><img src="static\home-img3.jpeg"></li>
            <li><img src="static\home-img4.jpg"></li>
        </ul>
    </div>
{% endblock %}