{% extends "layout.html" %}

{% block title %}
    WALLET
{% endblock %}

{% block main %}
    <h1 class="rubik"> WALLET </h1>
    <div class="wallet-container">
        <table class="wallet">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for travel in travels %}
                    <tr>
                        <td>{{ travel["date"] }}</td>
                        <td>{{ travel["amount"] }}</td>
                    </tr>
                {% endfor %}
                {% if pass_type == "general" %}
                    <tr>
                        <td> GENERAL PASS </td>
                        <td> 100 </td>
                    </tr>
                {% elif pass_type == "executive" %}
                    <tr>
                        <td> EXECUTIVE PASS </td>
                        <td> 300 </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <h2>Cash remaining: {{ cash }}</h2>
    </div>
{% endblock %}